<form [formGroup]="addUpdateForm" (ngSubmit)="onSubmit()" id ="form" class="p-3">
<div class="circleBase circle circle-border container-fluid" (click)="file.click()">
    <span style="color:red;" *ngIf="message">{{message}}</span>
    <input style="display: none" #file type="file" accept='image/*' (change)="preview(file.files)"  />
    <img [src]="imagePath" id="photo" height="200" >
    <div id="pencil"></div>
  </div>

    
  <div>
    <input id="name" type="text" formControlName="name" class="w-100 font-weight-bold">
  </div>
  <div>
    <input id="jobRole" type="text" formControlName="jobRole"  class="w-100 mt-1">
  </div>

  <div>
    <label for="motto">
      Motto
    </label>
    <input id="motto" type="text" formControlName="motto" class="w-100">
  </div>

  <div>
    <label for="hobbies">
      Hobbies
    </label>
    <input id="hobbies" type="text" formControlName="hobbies" class="w-100">
  </div>

  <div>
    <label for="hometown">
      Hometown
    </label>
    <input id="hometown" type="text" formControlName="hometown" class="w-100">
  </div>

  <div>
    <label for="personalBlog">
      Personal Blog
    </label>
    <input id="personalBlog" type="text" formControlName="personalBlog" class="w-100">
  </div>

  <button class="button" type="submit">Save</button>

</form>
