
  <nav class="navbar navbar-light">
    <div class="w-100">
      <a class="navbar-brand" [routerLink]="['/']">List of Employees</a>
       <div>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" *ngFor="let employee of employees">
            <a class="navbar-brand" [routerLink]="['/emp']" [queryParams]="{Id:employee.employeeId}">
            <div>
              <img src="{{ employee.photo }}" />
            </div>
            <div>
              <p>{{ employee.name }}</p>
              <p>{{ employee.jobRole }}</p>
            </div>
              </a>
          </li>          
        </ul>
      </div>
    </div>
  </nav>

